@keyframes slipdown{
    0% {top:-50px;}
    100% {top:50px;}
}
@keyframes slipup{
    0% {top:50px;}
    100% {top:-50px};
}
.e_tip{
    width: 300px;
    height: 40px;
    background-color: white;
    text-align:center;
    line-height: 40px;
    user-select: none;
    position:fixed;
    top:50px;
    left:50%;
    box-shadow: 3px 3px 10px rgba(127,127,127,0.7);
    transform: translate(-50%,-50%);
    animation:slipdown 0.1s 0s,slipup 0.1s 1.95s;
    z-index:9999;   
    
    border-radius: 10px;
    font-size:15px;
}
.e_agree{
    border:3px solid rgb(0, 194, 17);
}
.e_refuse{
    border:3px solid rgb(255, 77, 77);
}