<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/borrowedbooks.css">
    <script src="./javascript/public.js"></script>
    <script src="./lib/vue2.js"></script>
    <title>Borrowed Books</title>
</head>
<body style="background-color:#EBEBEB;">
    <div class="main_container">
        <div class="table_container">
            <p>Borrowed books</p>
            <input type="checkbox" v-model:checked="showall">View all records of borrowed books
            <div class="table_div" >
                <div class="table_info">
                    <div class="infoms">userId: {{uid}}</div>
                    <div class="infoms" style="color:red">total overdue payment: {{Number(debt).toFixed(2)}}</div>
                </div>
                <table>
                    <thead>
                    </thead>
                    <tbody>
                        <th width="120">bookName</th>
                        <th width="120">CreateTime</th>
                        <th width="120">Due Time</th>
                        <th width="120">State</th>
                        <th width="120">Debt</th>
                        <th width="120">operation</th>
                        <tr v-for="(i,index) in list" v-if="showall || i.state < 10000">
                            <td>{{i.bookName}}</td>
                            <td>{{i.createTime}}</td>
                            <td>{{i.dueTime}}</td>
                            <td v-if="i.state >= 0 && i.state < 10000">Remain:{{i.state}}&nbsp;Days</td>
                            <td v-if="i.state >= 10000">Returned</td>
                            <td v-if="i.state < 0">Overdue:{{-i.state}}&nbsp;Days</td>
                            <td>￥{{i.debt.toFixed(2)}}</td>
                            <td>
                                <button v-if="i.state >= 0 && i.state < 10000" class="continue" @click="conti(index)">
                                    continue
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                
            </div>
            <button @click="paydebt()" :style="btnstyle" :disabled="!available">Pay fine</button>
        </div>
        <div class="tip">
            Payment after confirmation!
        </div>
    </div>
</body>
<script src="./javascript/borrowedbooks.js"></script>
</html>