<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categories</title>
    <link rel="stylesheet" href="./css/main_head.css"> 
    <link rel="stylesheet" href="./css/categories.css">
    <link rel="stylesheet" href="./css/footer.css">
    <link rel="stylesheet" href="./fa/css/all.css">
    <link rel="stylesheet" href="./lib/index.css">
    <script src="./javascript/utils.js"></script>
    <script src="./lib/vue2.js"></script>
    <script src="./lib/index.js"></script>
    <script src="./javascript/public.js"></script>
</head>
<body style="background-color:#EBEBEB;">
    <header id="header">
        <mainhead class="header"></mainhead>
    </header>
    <div id="main_container">
        <nav class="cate_nav">
            <div class="left_title">
                <p>Program</p>
                <p>Categories</p>
                <p>Other</p>
            </div>
            <nav class="right">
                <div class="cate_bar">
                    <ul class="cate_list">
                        <!-- class="selected" -->
                    <div v-for="(i,index) in cates1">
                        <li v-if="index === cate1_pointer" class="selected" >{{i}}</li>
                        <li v-else="index !== cate1_pointer" @click="changeCate1(index)">{{i}}</li>
                    </div>
                    </ul>
                </div>
                <div class="cate_bar" style="border-top:1px solid #C6C6C6; border-bottom:1px solid #C6C6C6;">
                    <div class="cate_bar">
                        <ul class="cate_list">
                            <div v-for="(i,index) in cates2">
                                <li v-if="index === cate2_pointer" class="selected">{{i}}</li>
                                <li v-if="index !== cate2_pointer" @click="changeCate2(index)">{{i}}</li>
                            </div>
                        </ul>
                    </div>
                </div>
                <div class="cate_bar">
                    <div class="cate_bar">
                        <ul class="cate_list">
                            <li class="selected"><a href="javascript:;">none</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </nav>
        <section class="books_container">
            <h1 v-if="books.length === 0" style="text-align: center;">NO BOOK</h1>
            <div class="book" v-for="(i,index) in books">
                <img class="cover_pic" :src="i.img_url" alt="">
                <div class="book_detail" >
                    <div class="book_detail_title">{{i.bookname}}</div>
                    <hr>
                    <div class="book_detail_team">
                        <p>{{i.author}}</p>
                        <button @click="getBookDetail(index)">detail</button>
                    </div>
                    <div class="book_detail_text">{{i.description}}</div>
                </div>
            </div>
            <div class="pages">
                <el-pagination
                :current-page.sync="currentPage"
                @current-change="current_change"
                background
                layout="prev, pager, next"
                :total="pages_total*10" style="margin:0px auto;">
                </el-pagination>
            </div>
        </section>
    </div>
    <footer>
        <h2>Library Managment System</h2><br/>
        <h2>2022.04</h2>
    </footer>
</body>
<script src="./javascript/header.js"></script>
<script src="./javascript/categories.js"></script>
</html>